body{
  background-color:#FFDBBB;
}

h3{
  color:#ffa7b4;
  font-size: 30px;
  letter-spacing: 5px;
  word-spacing: -10px;
   outline-style: groove;
  outline-color: salmon;
  outline-width: 10px;
   text-shadow: 3px 3px 15px white;
}
  h3:hover{
    color:white;
      text-shadow: 3px 3px 15px #ffa7b4;
  }
img{
  width: 10%
}
img:hover {
  transform: scaleX(-1);
  width: 12%
}

